body {
    margin: 0px;
    background-color: #12233A;
}

h1 {
    color: #06BCC1;
    margin-left: 30px;
    font-size: 35x;
    font-family: "roboto", sans-serif;
}

svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    outline: auto;
    width: 60%;
    background-color: #C5D8D1;
}

.sphere {
    fill: #0288c7;
}

.country {
    
    stroke: black;
    stroke-width: 0.1px;
}

.country:hover {
    fill: red;
}

.all-slider-containter {
    list-style: none;
    width: 100%;
}

.slider-container {
    float: left;
    width: 30%;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    margin-left: 30px;
    height: 170px;
    outline: auto;
    background-color: #C5D8D1;
}

.tempMaxMin {
    list-style: none;
    width: 95%;
    margin-left: 7px;
}

.tempM {
    float: left;
    width: 50%;
    flex-direction: row;
    color: #12233A;
    font-size: 15px;
    font-family: "roboto", sans-serif;
    font-weight: bold;
}

#tempMax {
    text-align: right;
}

.value-container {
    margin-bottom: 15px;
    margin-right: 10px;
}

#year-slider-value {
    color: #12233A;
    font-size: 20px;
    margin-left: 10px;
    font-family: "roboto", sans-serif;
    font-weight: bold;
}

#month-slider-value {
    color: #12233A;
    font-size: 20px;
    margin-left: 10px;
    font-family: "robot", sans-serif;
    font-weight: bold;
}

#slider-title {
    color: #12233A;
    font-size: 25px;
    margin-top: 7px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-family: "roboto", sans-serif;
    font-weight: bold;
}

.slider {
    width: 70%;
    background: linear-gradient(to right, #C5D8D1 0%, #ff2a5f 0% #fff 0%, #fff 100%);
    height: 15px;
    margin-left: 10px;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    border-radius: 25px;
    box-shadow: 2px 8px 13px -3px rgba(6, 188, 193, 0.75);
    -webkit-box-shadow: 2px 8px 13px -3px rgba(6, 188, 193, 0.75);
    -moz-box-shadow: 2px 8px 13px -3px rgba(6, 188, 193, 0.75);
}

.slider::-webkit-slider-thumb {
    cursor: pointer;
    appearance: none;
    height: 20px;
    width: 20px;
    background-color: #06BCC1;
    border-radius: 50%;
    border: 3px  solid #12233A;
    box-shadow: 2px 8px 13px -3px rgba(6, 188, 193, 0.75);
    -webkit-box-shadow: 2px 8px 13px -3px rgba(6, 188, 193, 0.75);
    -moz-box-shadow: 2px 8px 13px -3px rgba(6, 188, 193, 0.75);
}

#spectrum {
    height: 60px;
    margin-left: 3px;
    margin-right: 3px;
    outline: auto;
    background-image: linear-gradient(to right, blue, yellow, red);
}
